 .tabs a:link, .tabs a:visited {
  background-color: #0066cc;
  color: white;
  padding: 40px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

 .tabs a:hover, .tabs a:active {
  background-color: #0099ff;
}
body {
	font-family: verdana;
	text-align: center;
	background-color: #e6e6e6;
}
#sturgex {
	font-size: 60px;	
} 
#undrconst {
	border: 5px solid #bfbfbf;
	background-color: #8c8c8c;
}
